<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIOZXxF0QdAYbhKk13OPzAjPo83xphRNY</string>
	<key>GCM_SENDER_ID</key>
	<string>968215814597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prembalani.SkillSync</string>
	<key>PROJECT_ID</key>
	<string>skillsync-c9122</string>
	<key>STORAGE_BUCKET</key>
	<string>skillsync-c9122.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968215814597:ios:5752cd7f1db2627406abac</string>
</dict>
</plist>